<div class="article-page">
    <app-banner></app-banner>
    <div class="container page">
        <app-loading *ngIf="isLoading$ | async"></app-loading>
        <app-error-message *ngIf="error$ | async"></app-error-message>

        <div class="row article-content" *ngIf="article">
            <div class="col-xs-12">
                <div>
                    <p>{{ article.body }}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-8 offset-md-2">
                <ng-container *ngFor="let comment of (comments$ | async)">
                    <app-article-comment [comment]="comment"></app-article-comment>
                </ng-container>
            </div>
        </div>
    </div>
</div>
