<div class="article-page">
    <app-banner></app-banner>
    <div class="container page">
        <app-loading *ngIf="isLoading$ | async"></app-loading>
        <app-error-message *ngIf="error$ | async"
                           [message]="error$ | async">
        </app-error-message>

        <div class="row article-content" *ngIf="article$ | async">
            <div class="col-xs-12">
                <div>
                    <p>{{ (article$ | async).body }}</p>
                    <app-tag-list [tags]="(article$ | async).tagList"></app-tag-list>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="commentsBase?.length > 0">
            <div class="col-xs-12 col-md-8 offset-md-2">
                <ng-container *ngFor="let comment of comments">
                    <app-article-comment [comment]="comment"></app-article-comment>
                </ng-container>

                <app-pagination [total]="commentsBase.length"
                                [limit]="limit"
                                [url]="baseUrl"
                                [currentPage]="currentPage">
                </app-pagination>
            </div>
        </div>
    </div>
</div>
