<div class="editor-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-cs-12">
                <form>
                    <fieldset>
                        <fieldset class="form-group">
                            <input
                                    type="text"
                                    class="form-control form-control-lg"
                                    placeholder="Enter Title"
                                    [formControl]="title"
                            />
                        </fieldset>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
